# Gibbons-Ross-Shanken (GRS) Joint Hypothesis Test Results

| Sample Period             | Test Asset Set             | Model   |   N |   K |   T |   GRS Stat | df1, df2   |   p-value | Reject H0 (5%)   |   MAA (%/mo) |   RMS Alpha (%/mo) |
|:--------------------------|:---------------------------|:--------|----:|----:|----:|-----------:|:-----------|----------:|:-----------------|-------------:|-------------------:|
| Full Sample (1993-2025)   | 9 Balanced Portfolios      | CAPM    |   9 |   1 | 377 |      3.049 | (9, 367)   |    0.0016 | Yes              |        0.336 |              0.376 |
| Full Sample (1993-2025)   | 9 Balanced Portfolios      | FF3     |   9 |   3 | 377 |      5.382 | (9, 365)   |    0      | Yes              |        0.306 |              0.388 |
| Full Sample (1993-2025)   | 9 Balanced Portfolios      | FF4     |   9 |   4 | 377 |      4.291 | (9, 364)   |    0      | Yes              |        0.234 |              0.286 |
| Full Sample (1993-2025)   | 5 Size-Value Portfolios    | CAPM    |   5 |   1 | 385 |      1.658 | (5, 379)   |    0.144  | No               |        0.225 |              0.26  |
| Full Sample (1993-2025)   | 5 Size-Value Portfolios    | FF3     |   5 |   3 | 385 |      5.021 | (5, 377)   |    0.0002 | Yes              |        0.104 |              0.139 |
| Full Sample (1993-2025)   | 5 Size-Value Portfolios    | FF4     |   5 |   4 | 385 |      5.542 | (5, 376)   |    0.0001 | Yes              |        0.203 |              0.231 |
| Full Sample (1993-2025)   | 4 Size-Momentum Portfolios | CAPM    |   4 |   1 | 377 |      3.456 | (4, 372)   |    0.0087 | Yes              |        0.487 |              0.491 |
| Full Sample (1993-2025)   | 4 Size-Momentum Portfolios | FF3     |   4 |   3 | 377 |      4.731 | (4, 370)   |    0.001  | Yes              |        0.562 |              0.562 |
| Full Sample (1993-2025)   | 4 Size-Momentum Portfolios | FF4     |   4 |   4 | 377 |      6.051 | (4, 369)   |    0.0001 | Yes              |        0.275 |              0.343 |
| In-Sample (1993-2015)     | 9 Balanced Portfolios      | CAPM    |   9 |   1 | 257 |      1.864 | (9, 247)   |    0.0579 | No               |        0.315 |              0.374 |
| In-Sample (1993-2015)     | 9 Balanced Portfolios      | FF3     |   9 |   3 | 257 |      3.587 | (9, 245)   |    0.0003 | Yes              |        0.314 |              0.389 |
| In-Sample (1993-2015)     | 9 Balanced Portfolios      | FF4     |   9 |   4 | 257 |      3.204 | (9, 244)   |    0.0011 | Yes              |        0.3   |              0.349 |
| In-Sample (1993-2015)     | 5 Size-Value Portfolios    | CAPM    |   5 |   1 | 265 |      1.257 | (5, 259)   |    0.2829 | No               |        0.206 |              0.27  |
| In-Sample (1993-2015)     | 5 Size-Value Portfolios    | FF3     |   5 |   3 | 265 |      3.975 | (5, 257)   |    0.0017 | Yes              |        0.141 |              0.174 |
| In-Sample (1993-2015)     | 5 Size-Value Portfolios    | FF4     |   5 |   4 | 265 |      4.23  | (5, 256)   |    0.001  | Yes              |        0.238 |              0.268 |
| In-Sample (1993-2015)     | 4 Size-Momentum Portfolios | CAPM    |   4 |   1 | 257 |      2.365 | (4, 252)   |    0.0535 | No               |        0.468 |              0.487 |
| In-Sample (1993-2015)     | 4 Size-Momentum Portfolios | FF3     |   4 |   3 | 257 |      3.292 | (4, 250)   |    0.0119 | Yes              |        0.534 |              0.552 |
| In-Sample (1993-2015)     | 4 Size-Momentum Portfolios | FF4     |   4 |   4 | 257 |      4.997 | (4, 249)   |    0.0007 | Yes              |        0.379 |              0.431 |
| Out-of-Sample (2016-2025) | 9 Balanced Portfolios      | CAPM    |   9 |   1 | 120 |      3.242 | (9, 110)   |    0.0016 | Yes              |        0.35  |              0.463 |
| Out-of-Sample (2016-2025) | 9 Balanced Portfolios      | FF3     |   9 |   3 | 120 |      3.57  | (9, 108)   |    0.0006 | Yes              |        0.341 |              0.447 |
| Out-of-Sample (2016-2025) | 9 Balanced Portfolios      | FF4     |   9 |   4 | 120 |      2.137 | (9, 107)   |    0.0323 | Yes              |        0.193 |              0.214 |
| Out-of-Sample (2016-2025) | 5 Size-Value Portfolios    | CAPM    |   5 |   1 | 120 |      2.673 | (5, 114)   |    0.0253 | Yes              |        0.194 |              0.259 |
| Out-of-Sample (2016-2025) | 5 Size-Value Portfolios    | FF3     |   5 |   3 | 120 |      2.985 | (5, 112)   |    0.0144 | Yes              |        0.138 |              0.152 |
| Out-of-Sample (2016-2025) | 5 Size-Value Portfolios    | FF4     |   5 |   4 | 120 |      2.295 | (5, 111)   |    0.0501 | No               |        0.139 |              0.156 |
| Out-of-Sample (2016-2025) | 4 Size-Momentum Portfolios | CAPM    |   4 |   1 | 120 |      3.452 | (4, 115)   |    0.0105 | Yes              |        0.544 |              0.632 |
| Out-of-Sample (2016-2025) | 4 Size-Momentum Portfolios | FF3     |   4 |   3 | 120 |      3.761 | (4, 113)   |    0.0065 | Yes              |        0.595 |              0.649 |
| Out-of-Sample (2016-2025) | 4 Size-Momentum Portfolios | FF4     |   4 |   4 | 120 |      2.422 | (4, 112)   |    0.0524 | No               |        0.261 |              0.269 |

**Hypothesis:** $H_0: \alpha_1 = \alpha_2 = \dots = \alpha_N = 0$. Rejection indicates model failure to completely span the mean-variance efficient frontier of test assets.
